fastapi>=0.104.1
uvicorn==0.24.0
sqlalchemy
psycopg2-binary
alembic==1.12.1
python-dotenv==1.0.0
passlib[bcrypt]==1.7.4
pydantic-settings==2.1.0
email-validator
PyJWT
slowapi
credentials
python-multipart
websockets
google-genai
torch==2.5.1
TTS==0.22.0
transformers==4.33.2
setuptools==69.5.1
